#remove html file extension https://example.com/page.html
# to https://example.com/page
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
RewriteRule (?!^folder/)^(.*)$ /folder/$1 [L,NC]
DirectoryIndex home.html index.html
